<div class="calculator">
    <input type="text" [(ngModel)]="display" />
  
    <div class="buttons">
      <button (click)="numClick('1')">1</button>
      <button (click)="numClick('2')">2</button>
      <button (click)="numClick('3')">3</button>
      <button (click)="oper('+')">+</button>
  
      <button (click)="numClick('4')">4</button>
      <button (click)="numClick('5')">5</button>
      <button (click)="numClick('6')">6</button>
      <button (click)="oper('-')">-</button>
  
      <button (click)="numClick('7')">7</button>
      <button (click)="numClick('8')">8</button>
      <button (click)="numClick('9')">9</button>
      <button (click)="oper('*')">*</button>
  
      <button (click)="numClick('0')">0</button>
      <button (click)="calculate()">=</button>
      <button (click)="clear()">AC</button>
      <button (click)="oper('/')">/</button>
    </div>
  </div>
  