<p>veh-global-footer works!</p>
<footer class="footer">
    <div class="row">
      <div class="col-md-3">
        <a href="#">
          <img src="assets/bike_png.png" alt="Company Logo" />
        </a>
        <p>ARentingSystem.</p>
        <ul class="list-unstyled">
          <li><a href="#">ARentingSystem</a></li>
          <li><a href="#">Rent a Vehicle</a></li>
          <li><a href="#">Our Collections</a></li>
          <li><a href="#">Premium Collections</a></li>
          <li><a href="#">Affordability</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <p>About Us</p>
        <ul class="list-unstyled">
          <li><a href="#">Our Company</a></li>
          <li><a href="#">Carrers</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
  
  
      <div class="col-md-3">
        <h5>Need Help?</h5>
        <ul class="list-unstyled">
          <li><a href="#">Help Center</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Live Chat(Coming In.......)</a></li>
        </ul>
        <ul class="list-inline social-links mt-3">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
  
      <div class="col-md-3">
        <h5>Important Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Rental Agreement</a></li>
          <li><a href="#">Insurance Information</a></li>
          <li><a href="#">Accessibility Statement</a></li>
        </ul>
      </div>
    </div>
    <div class="contact">
        <h5>Important Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Rental Agreement</a></li>
          <li><a href="#">Insurance Information</a></li>
          <li><a href="#">Accessibility Statement</a></li>
        </ul>
      </div>

  </footer>
  